::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #00000055;
    border-radius: 2px;
}

.SingleLine {
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.SingleLine::-webkit-scrollbar {
    width: 0;
    height: 0;
}