.MusicBar {
    backdrop-filter: blur(6px);

    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;

    width: 100%;
    height: 60px;
}

.LinearFlex {
    display: flex;
    height: 90%;
}

.TitleBar {
    flex: 1;
    margin: 10px;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    user-select: none;
}

.TitleBar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.TitleBar p {
    margin-bottom: 0;
    margin-top: 5px;
}

.ButtonBar {
    display: flex;
    justify-content: flex-end;
}

.ButtonBar Button {
    color: #EEEEEE;
    background-color: #548cc8de;

    width: 2.6em;
    min-width: 0px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}