.MusicBar {
    backdrop-filter: blur(6px);

    position: fixed;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 60px;
}

.LinearFlex {
    display: flex;
    height: 90%;
}

.TitleBar {
    flex: 1;
    margin-left: 10px;
    overflow-y: auto;
}

.ButtonBar {
    display: flex;
    justify-content: flex-end;
}

.ButtonBar Button {
    color: #EEEEEE;
    background-color: #548cc8de;

    width: 2.6em;
    min-width: 0px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}