.MusicBar {
    background-color: rgba(218,232,232,0.7);

    position: fixed;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 100px;
}

.LinearFlex {
    display: flex;
}

.LinearFlex p {
    flex: 2;
    margin: 10px;
    line-height: 50px;
}

.ButtonBar {
    flex: 1;
    
    display: flex;
    justify-content: flex-end;
}

.ButtonBar Button {
    color: #EEEEEE;
    background-color: #548CC8;

    margin: 10px;
}