.MusicBar {
    background-color: rgb(218,232,232);

    position: fixed;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 60px;
}

.LinearFlex {
    display: flex;
    height: 90%;
}

.LinearFlex p {
    flex: 2;
    margin-left: 10px;
    cursor: pointer;
}

.ButtonBar {
    flex: 1;
    
    display: flex;
    justify-content: flex-end;
}

.ButtonBar Button {
    color: #EEEEEE;
    background-color: #548CC8;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}