.MusicBar {
    background-color: rgb(218,232,232);

    position: fixed;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 60px;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.LinearFlex {
    display: flex;
    height: 90%;
}

.LinearFlex p {
    flex: 1;
    margin-left: 10px;
    overflow: auto;
}

.ButtonBar {
    display: flex;
    justify-content: flex-end;
}

.ButtonBar Button {
    color: #EEEEEE;
    background-color: #548cc8de;

    width: 2.6em;
    min-width: 0px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}