.BasicList::-webkit-scrollbar {
    width: 5px;
}

.BasicList::-webkit-scrollbar-thumb {
    background: #00000055;
    border-radius: 2px;
}

.BasicList::-webkit-scrollbar-track {
    background: #00000010;
    border-radius: 2px;
}

.BasicList {
    height: 100%;
    text-align: center;
    overflow: auto;
}